plugin/node_modules
plugin/.DS_Store
plugin/dist
plugin/ios/Pods/
plugin/.idea
plugin/.vscode
plugin/android/build
plugin/android/.gradle
plugin/android/.idea
demo/AppRateGFCDemo/.idea
demo/AppRateGFCDemo/.ionic
demo/AppRateGFCDemo/.sass-cache
demo/AppRateGFCDemo/.sourcemaps
demo/AppRateGFCDemo/.versions
demo/AppRateGFCDemo/.vscode
demo/AppRateGFCDemo/coverage
demo/AppRateGFCDemo/dist
demo/AppRateGFCDemo/node_modules
demo/AppRateGFCDemo/platforms
demo/AppRateGFCDemo/plugins
demo/AppRateGFCDemo/www
