# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.vscode
/.DS_Store
/plugin/node_modules
/plugin/.DS_Store
/plugin/dist
/plugin/ios/Pods/
/plugin/.idea
/plugin/.vscode
/plugin/android/build
/plugin/android/.gradle
/plugin/android/.idea
/demo/SnackBarGFCDemo/.idea
/demo/SnackBarGFCDemo/android/.idea
/demo/SnackBarGFCDemo/android/.gradle
/demo/SnackBarGFCDemo/android/build
/demo/SnackBarGFCDemo/.ionic
/demo/SnackBarGFCDemo/.sass-cache
/demo/SnackBarGFCDemo/.sourcemaps
/demo/SnackBarGFCDemo/.versions
/demo/SnackBarGFCDemo/.vscode
/demo/SnackBarGFCDemo/coverage
/demo/SnackBarGFCDemo/dist
/demo/SnackBarGFCDemo/node_modules
/demo/SnackBarGFCDemo/platforms
/demo/SnackBarGFCDemo/resources
/demo/SnackBarGFCDemo/plugins
/demo/SnackBarGFCDemo/www
