<ion-header>
  <ion-toolbar>
    <ion-title>
      AppRate Demo
    </ion-title>
    <ion-buttons slot="end" (click)="openSettings()" class="ion-padding-end">
      <ion-icon slot="icon-only" name="construct"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-button expand="full" shape="round" (click)="init()">Init AppRate</ion-button>
  <ion-button expand="full" shape="round" (click)="check()">Check In Store</ion-button>
  <ion-button expand="full" shape="round" (click)="show()">Show AppRate</ion-button>
</ion-content>
